<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <add name="BoardGameEntities" connectionString="metadata=res://*/BoardGameModel.csdl|res://*/BoardGameModel.ssdl|res://*/BoardGameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5M6MLVG\SQLEXPRESS;initial catalog=deuser1;user id=deuser1;password=deuser1;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BoardGamesEntities" connectionString="metadata=res://*/BoardGamesModel.csdl|res://*/BoardGamesModel.ssdl|res://*/BoardGamesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5M6MLVG\SQLEXPRESS;initial catalog=deuser1;user id=deuser1;password=deuser1;multipleactiveresultsets=True;encrypt=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="shoesEntities" connectionString="metadata=res://*/DataBase.shoesModel.csdl|res://*/DataBase.shoesModel.ssdl|res://*/DataBase.shoesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5M6MLVG\SQLEXPRESS;initial catalog=deuser1;user id=deuser1;password=deuser1;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>